.relatedproducts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.header{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.relatedproducts h1 {
    color: #171717;
    font-size: 40px;
    font-weight: 600;
}

.relatedproducts hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.relatedproducts-item {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 5px;
    margin-top: 50px;
}

@media (max-width: 1140px) {
    .relatedproducts {
        gap: 8px;
    }

    .relatedproducts h1 {
        font-size: 40px;
    }

    .relatedproducts hr {
        width: 150px;
        height: 5px;
    }

    .relatedproducts-item {
        gap: 20px;
    }
}

@media (max-width: 720px) {
    .relatedproducts {
        gap: 6px;
    }

    .relatedproducts h1 {
        font-size: 25px;
    }

    .relatedproducts hr {
        width: 100px;
        height: 4px;
    }

    .relatedproducts-item {
        gap: 10px;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 30px;
        transform: scale(0.9);
    }

    .relatedproducts-item > div {
        flex: 0 0 48%; 
        box-sizing: border-box;
    }
}

@media (max-width: 480px) {
    .relatedproducts {
        gap: 4px;
    }

    .relatedproducts h1 {
        font-size: 15px;
    }

    .relatedproducts hr {
        width: 80px;
        height: 3px;
    }

    .relatedproducts-item > div {
        flex: 0 0 100%; 
    }
}
