.productdisplay {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px;
    gap: 20px;
    justify-content: center;
  }

.productdisplay-left{
    display: flex;
    gap: 17px;
}

.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productdisplay-img-list img{
  height: 165px;
  cursor: pointer;
  object-fit: cover;
  border-radius: 8px;
}

.productdisplay-main-img{
  width: 100%;
  max-width: 435px;
  height: auto;
  object-fit: contain;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.productdisplay-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 300px; 
    max-width: 500px;
  }
  
  .productdisplay-right h1 {
    color: #3d3d3d;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }
  
  .productdisplay-right-stars {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    font-size: 16px;
    color: #1c1c1c;
  }
  
  .productdisplay-right-prices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 24px;
    font-weight: 700;
  }
  
  .productdisplay-right-price-old {
    color: #818181;
    text-decoration: line-through;
  }
  
  .productdisplay-right-price-new {
    color: #ff4141;
  }
  
  .productdisplay-right-description {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    text-align: center;
  }
  
  .productdisplay-right button {
    padding: 15px 30px;
    width: 80%;
    max-width: 300px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    align-self: center;
  }
  
  .productdisplay-right button:hover {
    background: #e63939;
  }
  
  .productdisplay-right-category {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #333;
  }
  
  .productdisplay-right-category span {
    font-weight: 600;
  }
  

/* Tablet view (1140px) */
@media (max-width: 1140px) {
    .productdisplay {
        margin: 0px 50px;
        flex-direction: column;
        align-items: center;
    }

    .productdisplay-left {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .productdisplay-main-img {
        width: 80%;
        height: auto;
    }

    .productdisplay-img-list img {
        display: none;
    }

    .productdisplay-right {
        margin: 20px 0;
        align-items: center;
    }

    .productdisplay-right h1 {
        font-size: 30px;
    }

    .productdisplay-right-prices {
        flex-direction: column;
        align-items: center;
    }

    .productdisplay-right button {
        width: 80%;
        padding: 15px 30px;
        font-size: 14px;
    }
}

/* Mobile view (720px) */
@media (max-width: 720px) {
    .productdisplay {
        margin: 0px 10px;
    }
    .productdisplay-img{
      display: flex;
      justify-content: center;
      
    }

    .productdisplay-main-img {
        width: 60%;
        height: auto;
    }

    .productdisplay-img-list img {
        display: none;
    }

    .productdisplay-right {
        margin: 10px 0;
        align-items: center;
    }

    .productdisplay-right h1 {
        font-size: 20px;
      }

    .productdisplay-right-stars {
        margin-top: 10px;
    }

    .productdisplay-right-prices {
        flex-direction: column;
        gap: 5px;
    }

    .productdisplay-right-prices span {
        font-size: 20px;
    }

    .productdisplay-right button {
        width: 100%;
        padding: 10px 15px;
        font-size: 14px;
    }

    .productdisplay-right-category {
        margin-top: 5px;
        text-align: center;
    }
}
